h1 {
    margin: 100px auto;
}

h2 {
    font-size: 20pt;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-top: 0;
}

.contentDownload {
    width: 90%;
    max-width: 1300px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.downloadsContainer {
    padding: 40px;
    background-color: #131212;
    border: 2px solid #3c3c3c;
    display: flex;
    flex-direction: row;
    align-items: start;
    margin-bottom: 20px;
}

.downloadsContainer:last-of-type {
    margin-bottom: 0px;
}

.downloadDiv {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.downloadButton {
    background-color: #000;
    border: 1px solid #7b7b7b;
    color: #fff;
    font-size: 18pt;
    font-weight: 400;
    text-decoration: none;
    padding: 10pt 15pt;
    transition-duration: 0.1s;
    transition-timing-function: ease-out;
}

.downloadButton:hover {
    transform: scale(1.05);
    transition-duration: 0.1s;
    transition-timing-function: ease-out;
}

.windowsButton {
    width: 145px;
}

.windowsButtonIcon {
    background: url(images/windows.png) center / 22px no-repeat;
    width: 22px;
    height: 30px;
    float: left;
    margin-right: 10px;
}

.githubButton {
    width: 120px;
}

.githubButtonIcon {
    background: url(images/github.png) center / 22px no-repeat;
    width: 22px;
    height: 28px;
    float: left;
    margin-right: 10px;
}

.downloadText {
    font-weight: 400;
    margin-top: 5px;
    margin-left: 5px;
    font-size: 10pt;
}

.spacer {
    height: 50px;
    display: none;
}

@media only screen and (max-width: 1350px) {
    h1 {
        font-size: min(10vw, 35pt);
    }

    h2 {
        font-size: min(5.5vw, 18pt);
    }

    .downloadDiv * {
        align-self: center;
    }

    .downloadsContainer {
        padding: 20px;
        flex-direction: column;
        justify-content: center;
    }

    .downloadDiv {
        width: 100%;
    }

    .spacer {
        display: block;
    }
}